<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Charlotte and Nikhil</h2>
    <p>Growing up in sunny Santa Barbara, CA, Charlotte rocked an awesome bowlcut and dreamed of becoming a parakeet (complete with plastic-bag "wings" and hands curled up like zygodactyl parrot feet). Apart from attempting to fly, she often biked to Goleta Beach where Brown Pelicans would dive majestically into the Pacific Ocean, with the Channel Islands in the horizon and the Santa Ynez mountains rising purple and stately behind. </p>
      <p> Up in the Bay&mdash;by way of Long Island, NYC, Nikhil built and broke toy cars, played stand-up (& of course, electric) bass, and watched Alton Brown hungrily.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>Nikhil and Charlotte's paths crossed in Princeton, NJ, in February 2013. Nikhil was pursuing a PhD in Molecular Biology and Neuroscience, where his interests in biology, engineering, and the complexity of sensory systems intersected. Charlotte was planning to study bird populations and conservation in Asia. </p>
    <p>They bonded over a shared love of spicy, sour flavors, the Best Coast, and goofy jokes. Nikhil started birding, and discovered that watching wrens, warblers, and vagrant Snowy Owls was fun (except for when it was very cold). Charlotte learned about blues and jazz, and why the bass is such a cool instrument.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>Nikhil bonded with Charlotte's family, and Charlotte hung out with Nikhil's "parronts", ajjis, and (great-)uncles. Between Charlotte's field work and Nikhil's entrance into industry research (and 1.5 years spent long-distance), they made several trips abroad where they biked around Inle Lake and scootered around the temples of Bagan (pictured), visited (and got to hold) the Critically Endangered Burmese Star Tortoise, peered at Critically Endangered Giant Ibis with flocks of Red-Breasted Parakeets squawking overhead, saw a leopard and&mdash;even cooler--dholes in Bandipur Tiger Reserve, and swam with whale sharks off the Yucatan coast.</p>
    <p>Charlotte and Nikhil decided to make things official earlier this year, inspired by Aniang and the Ajjis, and are so happy to have you join the party! </p>
  </div>
</section>
