<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Charlotte and Nikhil</h2>
    <p>Charlotte Chang, from Santa Barbara CA, and Nikhil Deshmukh, a native
    of Cupertino, CA, met in Princeton, NJ, in February 2013. </p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>It didn't take long for Charlotte and Nikhil to realize that they had a lot
    in common. </p>
    <p>Another paragraph here</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>In August 2017, Charlotte and Nikhil moved to Knoxville, TN. </p>
  </div>
</section>
