<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Charlotte and Nikhil</h2>
    <p>Growing up in sunny Santa Barbara, CA, Charlotte rocked an awesome bowlcut
      and dreamed of becoming a parakeet (complete with plastic-bag "wings" and hands curled up like zygodactyl parrot feet).
      Apart from attempting to fly, she often fed ladybugs watermelons and biked to Goleta Beach where Brown Pelicans
      would dive majestically into the Pacific Ocean, with the Channel Islands in the horizon and the Santa Ynez mountains
      rising purple and stately behind. </p>
      <p> Up in the Bay--by way of Long Island, NYC, Nikhil built and broke toy cars,
        played stand-up (\& of course, electric) bass, and watched Alton Brown with a religious fervor. ...</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>Nikhil and Charlotte's paths crossed in Princeton, NJ, in February 2013.
      Nikhil was pursuing a PhD in Molecular Biology and Neuroscience, where his interests in biology,
      engineering, and the complexity of sensory systems intersected. Charlotte--after discovering the
      marvelous field of ecology in college through a bird behavioral research project--was planning to
      study bird populations and conservation in Asia. </p>
    <p>They bonded over a shared love of spicy, sour flavors, the Best Coast, and goofy jokes.
      Nikhil started birding, and discovered that watching wrens, warblers, and vagrant Snowy Owls was
      fun (except for when it was very cold). Charlotte learned about blues and jazz, and why the bass
      is such a cool instrument.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>Nikhil bonded with Charlotte's \#1's: Zap and Aniang, and Charlotte hung out with Nikhil's
      ajjis and (great-)uncles. Between Charlotte's field work and Nikhil's entrance into industry research,
       they took several trips to the tropics where they saw the ruins of Bagan (pictured), visited
       (and got to hold) the Critically Endangered Burmese Star Tortoise, peered at Critically
       Endangered Giant Ibis with flocks of Red-Breasted Parakeets squawking overhead, saw a leopard
       and--even cooler--dholes in Bandipur Tiger Reserve, and swam with whale sharks off the Yucat\`an
       coast.</p>
  </div>
</section>
