<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>Charlotte and Nikhil have reserved room blocks at several local hotels, listed below. Please call and ask for the Chang-Deshmukh block.</p>
  </header>
<ul>
  <li style="text-align:left;">
    <p><a href="http://hiltongardeninn3.hilton.com/en/hotels/california/hilton-garden-inn-santa-barbara-goleta-SBAHAGI/index.html">Hilton Garden Inn Santa Barbara</p>
  </li>
</ul>
<p>$269/night</p>
<p>(805)562-6996</p>


  <p>There are also plenty of hotels and AirBnBs close to the venue in Santa Barbara</p>
</div>
