<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>Charlotte and Nikhil have reserved room blocks at several local hotels, listed below. Please call and ask for the Chang-Deshmukh block.</p>
  </header>
<ul>
    <p><a href="http://hiltongardeninn3.hilton.com/en/hotels/california/hilton-garden-inn-santa-barbara-goleta-SBAHAGI/index.html">Hilton Garden Inn Santa Barbara</a> | $269/night | Tel: (805)562-6996 |</p>
    <p><a href="http://www.marriott.com/hotels/travel/sbacy-courtyard-santa-barbara-goleta/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">Courtyard by Marriot Goleta</a> | $259/night | Tel: (805)968-0500 |</p>
    <p><a href="http://www.sbramada.com/">Ramada Santa Barbara</a> | $229/night | Tel: (805) 319-4314 |</p>
    <p><a href="http://www.thegoodland.com/">The Goodland Hotel</a> | $279/night | Tel:  (805) 964-6241 |</p>
</ul>

<p></p>


  <p>There are also plenty of hotels and AirBnBs close to the venue in Santa Barbara</p>
</div>
