<div class="inner">
  <header>
    <h2>Please RSVP by email</h2>
  </header>
  <p>Let us know who is coming, any dietary restrictions you may have, your travel plans, and any questions about the weekend.</p>
  <ul class="actions vertical">
    <li><a href="mailto:deshchang@gmail.com" class="button small fit">deshchang@gmail.com</a></li>
  </ul>
  <p>Please note that your love and support are all we ask for. We do not have a registry. If you wish to celebrate with a gift, we have created a separate website:</p>
  <ul class="actions vertical">
    <li><a href="https://tendr.com/deschang-wedding" class="button small fit">Gift website</a></li>
  </ul>
</div>
