<div class="inner">
  <header>
    <h2>RSVP</h2>
    <p>Please RSVP by email:</p>
  </header>
  <ul class="actions vertical">
    <li><a href="mailto:deshchang@gmail.com" class="button small fit">RSVP</a></li>
  </ul>
  <h2>Gifts</h2>
  <p>Please note that your love and support are all we ask for. However, if you wish to celebrate with a gift, we have created a separate website:</p>
  <ul class="actions vertical">
    <li><a href="https://tendr.com/deschang-wedding" class="button small fit"></a>Gifts</li>
  </ul>
</div>
