<div class="inner">
  <header class="major">
    <h2>Traveling to Santa Barbara</h2>
    <p>Santa Barbara is located on the central coast of California, about 2 hours north of Los Angeles and 5 hours south of San Francisco</p>
    <p>If you're driving from Highway 101, take exit 99 for Mission St. Turn north (away from the ocean) on Mission, then left on Chapala, then right on W. Los Olivos, then left on Las Encinas, and finally left onto Puesta del Sol.</p>
    <p>If you're planning to fly in, the closest airport is <a href="http://www.flysba.com/">Santa Barbara Airport</a>. However, flights there can be expensive and limited in points of origin. We recommend flying into  <a href="http://www.lawa.org/">Los Angeles International</a> and taking the <a href="https://www.sbairbus.com">Airbus</a> to Santa Barbara or renting a car.</p>
  </header>
</div>
