<div class="inner">
  <header class="major">
    <h2>Traveling to Santa Barbara</h2>
    <p>Santa Barbara is located on the central coast of California, about 2 hours north of Los Angeles and 5 hours south of San Francisco</p>
    <p>If you're planning to fly in, the closest airport is <a href="http://www.flysba.com/">Santa Barbara Airport</a>. However, flights there can be expensive and limited in points of origin. We recommend flying into  <a href="http://www.lawa.org/">Los Angeles International</a> and taking the <a href="https://www.sbairbus.com">Airbus</a> to Santa Barbara or renting a car.</p>
    <p>If you're driving from Highway 101, take exit 99 for Mission St. Turn north (away from the ocean) on Mission, then left on Chapala, then right on W. Los Olivos, then left on Las Encinas, and finally left onto Puesta del Sol.</p>
  </header>

  <header class="minor">
    <h3>Things to do in Santa Barbara</h3>
    <ul>
    <p>The Museum of Natural History will have exhibits open for our guests; please check back after June 2018 for a list of exhibits.</p>
    <p>One of Santa Barbara's most famous residents, Julia Child, was an enormous fan of <a href="https://www.seriouseats.com/2012/12/la-super-rica-santa-barbara-julia-child-best-mexican-food.html">La Super Rica Taqueria.</a></p>
    <p>Other excellent places to eat include: <a href="http://www.los-agaves.com/menu">Los Agaves</a>, <a href="http://www.petitvalentien.com/menu">Petit Valentien</a>, <a href="http://sbpublicmarket.com/">Santa Barbara Public Market</a>, <a href="http://boathousesb.com/">The Boat House.</a></p>
    <p>Santa Barbara is also famous for its walkable <a href="https://urbanwinetrailsb.com/">urban wine trail</a> next to beautiful East Beach, and in our opinion, <a href="http://www.figmtnbrew.com/">Figueroa Mountain Brewing Company</a> is the best microbrewery in town.</p>
    <p>For outdoors activities, some <a href="http://www.santabarbarahikes.com/hikes/frontcountry/"great hikes</a> include the Cold Spring Trail (a vista overlooking all of Santa Barbara), Carpinteria Bluffs (great views of Sea Lions), and Lake Los Carneros (an easy walk where you can sometimes see White-Tailed Kite).</p>
    </ul>
</div>
